body {
    padding-top: 50px;
    background: url("../img/background6.jpg") repeat;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    display: none;
}

.sidebar {
    color: white;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("../img/background3.jpg") repeat;
    box-shadow: 0px 0px 10px rgb(81, 81, 81);
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* my own */
#canvas {
    font-size: 10px;
    cursor: hand;
}

.navbar-inverse {
    background: url("../img/background4.jpg") repeat;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.jumbotron {
    background-color: rgba(0, 31, 85, 0.05);
}

#chart-container {
    margin: auto;
    background: rgba(255, 255, 255, 1);
    position: relative;
    background: url("../img/background6.jpg") repeat;
    border-radius: 5px;
}

#chart-container-wrapper {
    position: fixed;
    margin-top: 25px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 10px rgb(81, 81, 81);
    border-radius: 5px;
}

#chart-container-mouseover {
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    margin-left: 200px;
    width: 50px;
    height: 100%;
    z-index: 2000;
    position: absolute;
    opacity: 0;
}

#developers-loading {
    position: relative;
    height: 17px;
}

g.context g.axis path {
    stroke-opacity: 0;
}

g.context g.axis line {
    stroke-opacity: .1;
}

g.context g.brush rect.background {
    fill: rgba(0, 0, 0, .1);
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

g.context rect.background {
    fill: rgb(200, 200, 255);
    visibility: visible !important;
}

.bars rect {
    fill: #68a3d4;
}

.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

g.tick {
    font-size: 11px;
    color: #555;
    fill: #555;
}

.name-title {
    font-weight: 700;
    font-size: 14px;
}

.name-title:hover {
    cursor: hand;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #428bca;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default .ui-state-hover {
    background: #357ebd;
}

.ui-widget-header {
    background: #55aeff;
}

.well-sm {
    color: rgb(215, 215, 215);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px rgb(10, 10, 10);
    box-shadow: inset 0 0 10px rgb(10, 10, 10);
    background: url("../img/background4.jpg");
    border: 1px solid rgb(37, 37, 37);
    border-radius: 6px;
    opacity: 0.8;
}

#projectSelect {
    color: rgb(215, 215, 215);
    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(27, 27, 27);
}

.col-md-offset-2 {
    margin-left: 225px;
}