#chart-container {
    margin: auto;
    background: rgba(255, 255, 255, 0.90);
    position: relative;
}

#chart-container-wrapper {
    position: fixed;
    margin-top: 25px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#developers-loading {
    position: relative;
    height: 17px;
}

g.context g.axis path {
    stroke-opacity: 0;
}

g.context g.axis line {
    stroke-opacity: .1;
}

g.context g.brush rect.background {
    fill: rgba(0, 0, 0, .1);
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

g.context rect.background {
    fill: rgb(200, 200, 255);
    visibility: visible !important;
}

.bars rect {
    fill: #68a3d4;
}

.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

g.tick {
    font-size: 11px;
}

.name-title {
    text-shadow: 1px 1px #ffffff, -1px -1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff;
    font-weight: 700;
    font-size: 14px;
}

.name-title:hover {
    cursor: hand;
}